[submodule "modules/PIMLbase"]
	path = modules/PIMLbase
	url = https://github.com/ViskaWei/PIMLbase.git
[submodule "modules/PIMLspec"]
	path = modules/PIMLspec
	url = https://github.com/ViskaWei/PIMLspec.git
[submodule "modules/PIMLgrid"]
	path = modules/PIMLgrid
	url = https://github.com/ViskaWei/PIMLgrid.git
[submodule "modules/PIMLprepnn"]
	path = modules/PIMLprepnn
	url = https://github.com/ViskaWei/PIMLprepnn.git
